<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center top" fxLayoutAlign.xs="center stretch" fxLayoutAlign.xs="center stretch">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
 
<div style="text-align:center" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center top" fxLayoutAlign.xs="center stretch">
  <div fxFlex="50%">
  <mat-form-field>
    <input matInput [formControl]="userName"
            placeholder="Enter Name" (change)="onNameChange()">
    <mat-error
            *ngIf="(userName.dirty || userName.touched) &&
            userName.invalid">
            {{userName?.errors?.required ? validationMessages.userName.required : 
              ( userName?.errors?.pattern ? 'Invalid username' : '')}}
                                                      
    </mat-error>
</mat-form-field>
</div>

<div fxFlex="50%">
  <button mat-raised-button color="primary" (click)="onSubmit() " style="margin-top:20px">Search</button>
</div>
</div>


<div *ngIf="isDetail" >
  <h2 style="color:blue">Details By Name :</h2>
  <div >
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Count </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
</div>

<router-outlet></router-outlet>
